html {
    font-family: sans-serif;
    line-height: 1.5;

    /* https://coolors.co/fffcf2-ccc5b9-403d39-252422-eb5e28 */
    color: #252422;
    background: #fffcf2;
}
body {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 50em;
}
button,
label,
input[type='checkbox'] {
    cursor: pointer;
}
input[type='text'] {
    padding: 0.5em;
}

.button-reset {
    font: inherit;
    line-height: normal;

    overflow: visible;

    width: auto;
    margin: 0;
    padding: 0;

    color: inherit;
    border: none;
    background: transparent;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 5px;

    margin: 1em 0;
}

.cards--started .card__remove {
    display: none;
}

.card {
    border: 1px solid #252422;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 0.75em;
    padding: 2px;
    text-align: center;

    -webkit-hyphens: auto;
    hyphens: auto;
}

/* Force card to be more square */
.card::before {
    content: '';
    padding-bottom: 20%;
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 600px) {
    .cards {
        grid-gap: 10px;
    }

    .card {
        font-size: 1em;
    }

    .card::before {
        padding-bottom: 60%;
    }
}

.cards--show-secret .card--selected {
    background: #403d39;
    color: #fffcf2;
    font-weight: bold;
}

.card__remove {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    width: 20px;
    height: 20px;
    line-height: 10px;
}

.card__remove:hover {
    background: #fdecde;
}

.primary-button {
    padding: 0.5em 1em;
    border-radius: 100px;
    color: #fffcf2;
    background: #eb5e28;
    border: none;
    box-shadow: 2px 2px 4px #ccc5b9;
}

.secondary-button {
    padding: 0.5em 1em;
    border-radius: 100px;
    color: #fffcf2;
    background: #403d39;
    border: none;
    box-shadow: 2px 2px 4px #ece9e0;
}

.ternary-button {
    padding: 0.25em 0.5em;
    border-radius: 100px;
    color: #252422;
    background: #ccc5b9;
    border: none;
    box-shadow: 2px 2px 4px #ece9e0;
}

.base button:active {
    box-shadow: none;
}

.start,
.toggle-secret {
    display: none;
}
